
/* classe .general doit être placée dans la div de chaque élément, 
s'applique comme propriétés de bases pour chaque animation au départ' */
.general{
display:block;
width:100px;
height:70px;
margin:40px;
background-color: #008B8B;
text-align:center;
padding-top:25px;
font-size:12px;
}

/* propriétés de départ de chaque élément, 
mettre la classe dans la div de l'élément à animer */

/* animation 1 */
.general.ani1 p{
}

.general.ani1:hover p{
-webkit-animation: anim1 3s ease 0s infinite normal;
}

.general.ani1:hover {
width:330px;
background-color:#20B2AA;
}

/* animation 2 */
.general.ani2{
border-style:none;
border-radius:50%;
-webkit-animation:anim2 2s ease-in 0s infinite reverse; 
margin:30px;
color:white;

}

/* animation 3 */
.general.ani3{
background-color:#3CB371;
-webkit-animation: anim3 1s ease 0s infinite alternate;
border-style: solid;
border-width: 3px;
border-color: black;
}

/* animation 4 */
.general.ani4 {
-webkit-animation: anim4 5s linear 0s infinite normal;
margin:50px 0px;
border-style:none;
border-radius:35%;
height:50px;
padding-top:10px;
}

/* animation 5 */
.general.ani5 {
-webkit-animation: anim5 5s ease 0s infinite normal;
vertical-align:middle;
}


/* Animation -----------------------  */


@-webkit-keyframes anim1{  /* hover de anim1*/

		0%{
		-webkit-transform:translate(0px, 0px);
		font-size:15px;
		letter-spacing:10px;
		text-align:left;
		}
		
		40%{
		-webkit-transform:translate(100px, -30px);
		color:yellow;
		letter-spacing:0px;
		}
		
		60%{
		-webkit-transform:translate(0px, 0px);
		letter-spacing:10px;
		text-align:left;
		color:black;
		}
		
		80%{
		-webkit-transform:translate(100px, 30px);
		font-size:15px;
		color:yellow;
		letter-spacing:0px;
		}
		100%{
		-webkit-transform:translate(0px, 0px);
		letter-spacing:10px;
		text-align:left;
		color:black;
		font-size:15px;
		}

}


/*-------------------------------*/
@-webkit-keyframes anim2 {
	0%{
	-webkit-transform: scale(1);
	}
	
	40%{
	opacity:1;
	}
	45%{
		opacity:0;
	}
	55%{
	background-color:white;
	opacity:0;
	}
	60%{
	opacity:1;
	}

	100%{
	-webkit-transform: scale(1.5);
	background-color:orange;
	color:black;
	}
	
}

/*-------------------------*/

@-webkit-keyframes anim3 {
	0%{
	-webkit-transform: skew(-30deg);
	border-left-width:0px;
	border-right-width:0px;
	margin-left:10px;
	padding-top:20px;
	text-align:left;
	}
	45%{
	height:50px;
	background-color:#BDB76B;
	-webkit-transform: skew(0deg);
	font-weight:bold;
	width:150px;
	border-left-width:3px;
	border-right-width:3px;
	padding-top:0px;
	}

	55%{
	-webkit-transform: skew(0deg);
	height:50px;
	background-color:#BDB76B;
	font-weight:bold;
	width:150px;
	border-left-width:3px;
	border-right-width:3px;
	padding-top:0px;
	}

	100%{
	-webkit-transform: skew(30deg);
	margin-left:50px;
	border-left-width:0px;
	border-right-width:0px;
	padding-top:20px;
	}
	
}

/*------------------------------------------------*/
@-webkit-keyframes anim4{
	0%{
	margin-left:0;
	text-shadow:0;
	}
	12%{
	-webkit-transform:translate(200px, 40px) rotate(10deg);
	text-shadow:3px 3px 3px red;
	color:white;
	font-size:10px;

	}

	36%{
	-webkit-transform:translate(400px, -40px) rotate(-10deg);
	text-shadow:3px 3px 3px red;
	color:black;
	font-size:15px;

	}

	60%{
	-webkit-transform:translate(600px, 40px) rotate(10deg);
	color:white;
	font-size:10px;
	}

	84%{
	-webkit-transform:translate(800px, -40px) rotate(-10deg);
	color:black;
	font-size:15px;
	}
	
	100%{
	-webkit-transform:translate(1000px, 40px) rotate(10deg);
	font-size:10px;
	}
}


/*-------------------------------------*/


@-webkit-keyframes anim5 {
	0%{
	-webkit-transform:translate(0px,0px) rotate(0deg);
	border-radius:0;
	background-color:#FFA07A;
	color:black;
	}
	
	45%{
	-webkit-transform:translate(300px,-290px) rotate(-15deg)  ;
	border-style:none;
	border-radius:25%;
	background-color:#FFA07A;
	color:black;
	}
	
	55%{
	-webkit-transform:translate(500px,-300px) rotate(360deg);
	color:red;
	border-style:none;
	border-radius:25%;
	background-color:#20B2AA;
	}	
	
	100%{
	-webkit-transform:translate(800px,0px) rotate(375deg);
	border-style:none;
	border-radius:0%;
	background-color:#20B2AA;
	color:red;
	}
}
